<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Memory Quiz</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                My Memory Quiz
            </div>
        </header>
        <div class="speech-bubble">
            Click Me !
        </div>
        <a href="/login">
            <img src="/static/bread.jpeg" alt="빵">
        </a>
        <div class="flashcard">
            <div class="ring"></div> <!-- 링 추가 -->
            <div class="flashcard-text">
                <li>Myself</li>
                <li>Memorization Book</li>
                <li>Fun Quiz</li>
            </div>
        </div>
    </div>
</body>
</html>