<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Quiz</title>
</head>
<body>
    <div id="quizContainer">
        <!-- 퀴즈 제목을 data 속성으로 전달 -->
        <h1 id="quizTitle" data-quiz-title="{{ quiz_title }}">{{ quiz_title }}</h1> <!-- 제목은 처음 한 번만 출력 -->

        <!-- 질문 리스트 표시 -->
        <div id="questionContainer"></div>
    </div>

    <script src="{{ url_for('static', filename='play_quiz.js') }}" defer></script>
</body>
</html>
