<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Quiz</title>
    <link rel="stylesheet" href="/static/play_quiz.css">
</head>
<body>
    <div class="container">
        <div id="quizContainer">
            <header>
                <div class="title">
                    <div id="quizTitle" data-quiz-title="{{ quiz_title }}">{{ quiz_title }}</div>
                </div>
            </header>

            <!-- 질문 리스트 표시 -->
            <div id="questionContainer"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='play_quiz.js') }}" defer></script>
</body>
</html>
