<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Flashcard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view_card.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="title" id="cardTitle">{{ title }}</div>
        </header>
        <div id="cardsContainer">{{ content }}</div>
        <button id="savebtn">Save</button>
    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>암기장을 보시겠습니까?</h2>
            <button id="confirmPlay">예</button>
            <button id="cancelPlay">아니오</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='view_card.js') }}" defer></script>
</body>
</html>
